*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', sans-serif;
}
img{
    width: 70px;
}

#gameBoard{
    margin: auto;
    margin-top: 30px;
    width: 800px;
    display: grid;
    grid-template: 20% 20% 20% 20% 20% / 23% 23% 23% 23%
}
.card{
    height: 150px;
    width: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    margin: 10px;
    
}
.card_back, .card_front{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    background-color: #101c2c;
    transform: rotateY(180deg);
}

.card_back{
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 30px;
}

#gameOver{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 50px;
}


#reset{
    background-color: yellow;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}